.articleWrap{overflow:hidden;margin:30px auto 60px;padding:30px;width:750pt;height:auto;background:#fff;box-shadow:0 10px 30px 0 rgba(0,0,0,.2)}
body{background-color:#f6f9fc}
.titleArticle{margin-top:0;padding:0;padding-bottom:25px;padding-bottom:20px;width:100%;border-bottom:1px solid rgba(33,33,33,.08);color:#666;text-align:left;text-transform:uppercase;letter-spacing:1px;font-weight:700;font-size:30px;line-height:1.5}
.leftMain{float:left;width:100%;height:auto}
#J_dotLine{position:absolute;left:50%;margin-left:-550px;width:825pt;height:200px;color:#fff}
.articleHeader{position:relative;top:-10px;left:0;z-index:1;height:150px;background:#9ac26b}
.articleHeader h1{color:#fff;text-align:center;letter-spacing:1px;font-size:50px;line-height:150px}
h2{margin-bottom:0}
.articleDetail{height:50px;color:#999;line-height:50px}
.articleDetail i{margin-right:20px;color:#aaa;font-style:normal}
.tags{padding:1pc 0;border-top:1px solid #ccc;border-bottom:1px solid #ccc}
.tags span{margin-right:14px;color:#f04e37;text-transform:uppercase;font-weight:400;font-size:18px}
.tags a{margin-right:10px;color:#f04e37;font-size:1pc;display:inline-block;box-sizing:content-box;padding:6px 20px;border-radius:3px;background:#f04e37;color:#fff;text-overflow:clip;font:400 medium/normal Arial,Helvetica,sans-serif;cursor:pointer}
.articleSource{padding:10px 0;color:#666;letter-spacing:1px;font-size:14px;line-height:1.5em}
.articleSource i{font-style:normal}
.otherArticle a{float:left;display:inline-block;overflow:hidden;width:50%;height:30px;color:#888;text-overflow:ellipsis;white-space:nowrap;line-height:30px;cursor:pointer}
.otherArticle a span{margin-right:10px}
.otherArticle i{font-style:normal}
.myattachment{color:#999;cursor:pointer}
.download-link{text-align:center;line-height:30px}
.otherArticle{height:42px}
.download-link{position:relative;overflow:hidden;margin:0 auto;margin-right:9pt;padding:14px 0;height:44px;border-radius:4px;background-color:#f8f9f9;font-weight:300;font-size:1pc;font-family:Open Sans,sans-serif;line-height:24px;border-left-color:#3f4652;text-rendering:optimizelegibility}
.download-link img{width:30px;height:30px}
.download-link a,.download-link img{vertical-align:middle;line-height:44px}
.download-link a{display:inline-block;margin-right:1pc;height:44px}
.download-link svg{display:inline-block;width:20px;height:20px;vertical-align:text-bottom;line-height:44px;fill:#aaa}
.download-link i{margin-right:2px;font-style:normal}
.en{font-family:arial,helvetica,sans-serif!important}
.en,.en p{word-break:keep-all}
.articleContent{overflow:hidden;padding:0 10px;color:#888;text-align:justify;text-indent:0;letter-spacing:1px;font-weight:400;line-height:1.6em}
.articleContent span,.articleContent p{color:#888!important;line-height:26px!important;font-family:"Microsoft YaHei"!important;font-size: 16px!important;}
.en span,.en p{color:#888!important;line-height:26px!important;font-family:arial,helvetica,sans-serif!important;font-size: 18px!important;}
.articleContent li,.articleContent ol,.articleContent ul{list-style:disc outside none}
.articleContent img{margin-top:10px!important}
.articleContent a{text-decoration:underline}
.articleContent p{margin-bottom:10px}
.articleContent b,.articleContent em,.articleContent strong{font-weight:700!important}
.articleContent table{display:block;margin:0 auto}
