@charset "utf-8";
.wrapLogo {
	border-bottom: 1px solid #DEDEDE;
	height: 114px;
}

.wrapBread {
	height: 60px;
	padding-top: 20px;
}

.crumbs {
	height: 48px;
	line-height: 48px;
	border-bottom: 1px solid #eee;
}

.crumbs a {
	color: #777;
}

h3 {
	font-size: 24px;
	font-weight: 500;
	line-height: 1em;
	margin-bottom: 10px;
}

.contact {
	padding: 20px 0;
}

.contact-gds {
	margin-top: 30px;
	position: relative;
}

.contact-top {
	width: 1080px;
}

.contactInfo p {
	margin: 0 0 23px 0;

	font-size: 14px;
    line-height: 1.6em;    color: #777;

    font-weight: 500;
}

.contact-top div textarea {
	height: 170px;
	resize: none;
}

.contactInfo {
	position: absolute;
	z-index: 9999;
	width: 280px;
	background: #fff;
	height: 486px;
	right: 60px;
	top: 22px;   
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;


}
a{
	color:#777;
}
.contactInfo h3 {
	color: #ff5126;
	font-family: 'Righteous', cursive;
	text-transform: uppercase;
	margin: 20px 16px 10px;
    font-size: 20px;
}

.contactInfo p{
	margin: 8px 16px;
}

hr{
	    border-top: 1px solid #ccc;
	    width:290px;
    border-bottom: none;
}
.map iframe {
	width: 100%;
	min-height: 336px;
	border: none;
}

h3 {
	color: #FEAB2D;
	font-family: 'BreeSerif-Regular';
}