@charset "utf-8";
.wrapLogo {
	border-bottom: 1px solid #DEDEDE;
	height: 114px;
}

.wrapBread {
	height: 60px;
	padding-top: 20px;
}

.crumbs {
	height: 48px;
	line-height: 48px;
	border-bottom: 1px solid #eee;
}

.crumbs a {
	color: #777;
}

h3 {
	font-size: 24px;
	font-weight: 500;
	line-height: 1em;
	margin-bottom: 10px;
}

.contact {
	padding: 20px 0;
}

.contact-gds {
	margin-top: 30px;
	position: relative;
}

.contact-top {
	width: 1080px;
}

.contactInfo p {
	margin: 0 0 23px 0;
	color: #000;
	font-size: 14px;
	line-height: 2em;
}

.contact-top div textarea {
	height: 170px;
	resize: none;
}

.contactInfo {
	position: absolute;
	z-index: 9999;
	width: 320px;
	background: #fff;
	height: 440px;
	right: 60px;
	top: 36px;
}

.contactInfo h3 {
	color: #8BBC3C;
	font-family: 'Righteous', cursive;
	text-transform: uppercase;
	margin: 16px 0 16px 0;
	font-size: 20px;
}

.contactInfo h3 ,.contactInfo p{
	margin-left: 8px;
	margin-right: 8px;
}
.email {
	color: #FF5126;
}

.map iframe {
	width: 100%;
	min-height: 336px;
	border: none;
}

h3 {
	color: #FEAB2D;
	font-family: 'BreeSerif-Regular';
}