.timeline {
	position: relative;
	padding-top: 6px;
	padding-bottom: 36px;
}

.timeline:before {
	content: "";
	width: 4px;
	height: 100%;
	background-color: #b0bfcb;
	position: absolute;
	top: 0;
}

.timeline__group {
	position: relative;
}

.timeline__box{
	margin-top: 28px;
}

.timeline__year {
	padding: 8px 24px;
	color: #fff;
	background-color: #b0bfcb;
	position: absolute;
	left: 0;
	top: 0;
}

.timeline__box {
	position: relative;
}

.timeline__box{
	margin-bottom: 10px;
}

.timeline__box:before {
	content: "";
	width: 100%;
	height: 2px;
	background-color: #b0bfcb;
	position: absolute;
	left: 0;
	z-index: -1;
}

.timeline__date {
	min-width: 65px;
	position: absolute;
	left: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px 16px;
	text-align: center;
	background-color: #b0bfcb;
	color: #fff;
}

.timeline__day {
	font-size: 28px;
	font-weight: 700;
	display: block;
}

.timeline__month {
	display: block;
	font-size: .8em;
	text-transform: uppercase;  
    padding: 4px 2px;
    letter-spacing: 1px;
}

.timeline__post {
	padding: 24px 32px;
	border-radius: 2px;
	border-left: 3px solid#b0bfcb;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
}

.timeline:before {
	left: 46px;
}

.timeline__box {
	padding-left: 130px;    position: relative;
}


.timeline__box:before {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.timeline__date {
	top: 50%;
	margin-top: -35px;
}

.timeline {
	--timelineMainColor: #b0bfcb;
	font-size: 16px;
}

body {
	background-color:#F6F9FC;
}

.page a {
	margin-top: 0;
	margin-bottom:24px;
	line-height: 1.5;
}

.page a:last-child {
	margin-bottom: 0;
}

.page__container {
	padding-bottom: 30px;
	max-width: 1060px;
	margin: 50px auto;
	padding-left: 50px;
	padding-right: 50px;
	background: #fff;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.1) 0 10px 20px 0px;
}

@media screen and (min-width: 361px) {
	.footer__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}



.more_css {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 320px;
	height: 50px;
	text-transform: uppercase;
	cursor: pointer;
	margin: 0 auto;
	border: 2px solid #8BC34A;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	font: normal 20px/50px "Advent Pro", Helvetica, sans-serif;
	color: #8BC34A;
	font-weight: bold;
	text-align: center;
	-o-text-overflow: clip;
	text-overflow: clip;
	letter-spacing: 1px;
	background: rgba(0, 0, 0, 0);
	-webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
	-moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
	-o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
	transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.more_css:hover {
	color: #fff;
	background: #8BC34A;
}

.more_css:active {
	border: 2px solid #8BC34A;
	background: :#8BC34A;
	color: #fff;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

#searchform2 .select_box {
    width: auto;
    text-align:center;
    font-size: 12px;
    text-transform: uppercase;
    text-indent: 10px;
    max-width: 220px;
}

#searchform2 .select_showbox {
    background: url(../images/search_ico.png) no-repeat right center;
    padding-right: 20px;
}
.search .select_option {
	position: absolute;
	top: 38px;
	left: 10px;
}

.noData {
	height: 40px;
	line-height: 40px;
	color: #ddd;
	text-align: center;
	font-size: 40px;
	display: none;
	padding: 45px 0 25px;
	letter-spacing: 2px;
	text-transform: upperccase;
	text-transform: uppercase;
	font-weight: 700;
}

.search .select_option li {
	text-indent: 0em;
	cursor: pointer;
}

.sort-css {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	position: relative;
	cursor: pointer;
	top: 0;
	padding: 0 22px;
	border: 4px solid #FFAE00;
	font: normal normal bold 18px/40px Arial, Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	-o-text-overflow: clip;
	text-overflow: clip;
	color: #FFAE00;
	background: #ffffff;
	margin: 30px 10px;
}

.sortBtn {
	text-align: center;
}

.sort-css:hover {
	background: #FFAE00;
	color: #fff;
}

.inactive {
	border: 4px solid #ccc;
	color: #ccc;
	background: #ffffff;
}

.inactive:hover {
	background: #CCCCCC;
	color: #fff;
}

.box {
	text-align: center;
	height: 300px;
	background: url(../images/newsListSecond.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
	top: -10px;
}

.box .mark {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.search-greeting {
	text-align: center;
}

.search-greeting h2 {
	font-size: 48px;
	padding: 10px 0px;
	margin-bottom: 0px;
}

.search-icon {
	background: url("../images/search.png") no-repeat center center;
	width: 100%;
	height: 100%;
	display: block;
}

.search-group {
    position: relative;
    max-width: 1000px;
    min-height: 40px;
    margin: 0 auto;
    top: -36px;
}
#searchform2 {
    padding: 8px 20px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    outline: 0px;
    border: 1px solid #8bc34a;
    border-radius: 50px;
    background: #fff;
    max-width: 680px;
    min-width: 560px;
    width: auto;
}
.popular-search {
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 18px;
    width: 560px;
    margin: 4px auto;
    position: relative;
    top: 108px;
}

.popular-search a {
	letter-spacing: 1px;
	display: inline-block;
	padding-bottom: 0px;
	height: 32px;
	cursor: pointer;font-size: 18px;
	margin: 0 10px 6px;    display: inline-block;
color:#ddd!important;
text-transform: uppercase;	border-bottom: 1px solid transparent;	
	font-weight: 600;vertical-align: top;


}
.popular-search a:hover{
	border-bottom: 1px solid #fff;
}
.popular-search a:active,.popular-search a.active{
	border-bottom: 1px solid #fff;color:#fff!important;font-weight: bold;
}


.popular-search span {
	letter-spacing: 1px;
	display: inline-block;
	margin-right: 6px;
}

input[type="search"] {
	background-color: #fff;
	color: #3f4652;
	font-size: 16px;
	text-indent: 10px;
	font-weight: 400;
	letter-spacing: 0;
	border: none;
	margin-bottom: 0;
	outline: 0px;
	-webkit-appearance: none;
	text-align: left;
	margin-top: 3px;
	line-height: 30px;
	float: left;
	width: 378px;
	overflow: hidden;
	position: relative;
}

input[type="search"]:focus {
	border: 1px solid #F0F0F0;
	background-color: #fff;
	margin-left: 10px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

.search-submit{
	float: right;
	font-size: 16px;
	color: #3f4652;
	background-color: transparent;
	border: none;
	right: 10px;
	cursor: pointer;
	outline: 0;
	width: 40px;
	height: 36px;
	z-index: 2;
}

button[type="submit"]:hover {
	color: #3f4652;
	background-color: transparent;
}

.newsSearch,
.newsSearch a {
	color: #fff;
}

.newsSearch {
	color: #fff;
	position: absolute;
	left: 0px;
	width: 100%;
	top: 44px;
}

.distance {
	float: left;
	margin: 0 10px;
	height: 40px;
	width: 1px;
	overflow: hidden;
	background: #eee;
}

.ding .timeline__date{
	background-color: #8BC34A;
}
.ding .timeline__post {
 
    border-left: 3px solid #8BC34A;

}
.hot{
	display: none;
}

.ding .hot {
    position: absolute;
    top: 6px;	display: block;
    color: #ff0000;
    font-weight: bold;
    width: 18px;
    height: 18px;
    font-size: 12px;
    font-weight: 550;
    font-style: italic;
  left: 62px;
    letter-spacing: 1px;

    position: absolute;
    margin-top: 8px;
 
    background-size: contain;
    animation:myfirst  0.8s  infinite;
-moz-animation:myfirst  0.8s infinite; /* Firefox */
-webkit-animation:myfirst  0.8s infinite; /* Safari and Chrome */
-o-animation:myfirst 0.8s  infinite; /* Opera */


}

.ding .timeline__day{
	margin-left: -20px;
}

@keyframes myfirst
{
from {opacity: 1;}
to {opacity: 0;}
}

@-moz-keyframes myfirst /* Firefox */
{
from {opacity: 1;}
to {opacity: 0;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {opacity: 1;}
to {opacity: 0;}
}

@-o-keyframes myfirst /* Opera */
{
from {opacity: 1;}
to {opacity: 0;}
}

.newsSearch .search .select_option li {

    padding: 0px;
    max-width: 200px;
    display: block;
    white-space: nowrap;
    width: auto;
    padding: 0 10px;
}


.newsSearch .search .select_option {

    width: auto;
    max-width: 220px;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

.newsSearch  #searchform2 .select_box {
    width: auto;
    max-width: 220px;
}

.newsSearch  .search .select_option {
    position: absolute;
    top: 50px;

    left: -20px;
}